@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Share+Tech&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #808080;
    height: 200vh;
}
header{
    background-color: #0B182D;
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
}
.nav{
    width: 100%;
    background-color: #0B182D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    transition: all 0.5s ease;
    position: fixed;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 15px;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #DEDEDE;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu .contact{
    color: #FFC709;
}
.menu li a:hover{
    padding: 5px 10px;
    background: #0B182D;
    color: #FFC709;
    border-radius: 15px;
}
.scrol {
    height: 100%;
}
h1{
    color: white;
}
/*Aquí empieza la home */

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    background-color: #0B182D;
    padding: 5%;
}
.descriptionweb h1{
    font-size: 3em;
    color: #DEDEDE;
}
.descriptionweb p{
    color: #FFC709;
}
.image_home img{
    border-radius: 100px 100px 100px 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Aquí empieza el FAQ*/
.final .container_final{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.final{
    color: white;
    background-color: #0B182D;
    width: 100%;
    margin: 0;
}
.container_final .questions{
    list-style: none;
    text-align: right;
}
.container_final .questions a{
    text-decoration: none;
    color: white;
}
.container_final .questions a:hover{
    color: #FFC709;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;

}
.FAQ h3{
    font-size: 3em;
    font-family: 'Share Tech', sans-serif;
}
.container_final{
    margin: 0;
    padding: 25px;
}
button{
    font-family: 'Share Tech', sans-serif;
    background-color: #0B182D;
    border-radius: 10px;
    padding: 10px;
}
.FAQ button a{
    color: white;
    text-decoration: none;
}
/**---------------------------------------------------------------*/
/*footer*/
footer{
    color: white;
    background-color: #0B182D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
    gap: 25px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*A partir de aquí empieza la página de Nosotros */
.Nosotros{
    background-color: #0B182D;
    height: 30vh;
}
.descriptionTeam {
    color: #DEDEDE;
    display: grid;
}
.textTeam{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}
.text_rectangle h4{
    color: #DEDEDE;
    font-size: 4em;
    font-family: 'Share Tech', sans-serif;
    margin: 0;
}
.text_rectangle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}
.text_rectangle img {
    max-width: 100%;
        height: auto;
        margin: 10px;
}
.images_team{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.images_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.coder {
    color: #DEDEDE;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.coder h6{
    font-family: 'Share Tech', sans-serif;
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5em;
}
.coder h5{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    text-align: left
}
.coder p{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    text-align: left;
    font-size: 1em;
}
.team_person{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2%;
    gap: 3%;
}
.Our_team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-auto-rows: minmax(100px, auto);*/
    gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}
