@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Share+Tech&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    height: 200vh;
    cursor: url(Images/puntero.png), auto;
} */
.services__home {
    font-family: 'Open Sans', sans-serif;
    height: 200vh;
    background-color: #0B182D;
    width: 100%;
}
.index__home{
    background-color: #0B182D;
    width: 100%;
}
header{
    width: 100%;
    height: 16vh; 
    background-size: cover;
    background-position: center;
}
.nav{
    width: 100%;
    background-color: #0B182D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    transition: all 0.5s ease;
    position: fixed;
}
.nav_list{
    display: flex;
}

.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 15px;
    font-family: 'Share Tech', sans-serif;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #DEDEDE;
    font-weight: bold;
    transition: all 0.5s ease;
    font-family: 'Share Tech', sans-serif;
}
.menu .contact{
    color: #FFC709;
}
.menu li a:hover{
    padding: 2rem;
    background: #0B182D;
    color: #FFC709;
    border-radius: 15px;
}
.open_menu, .close_menu{
    display: none;
}
.scrol {
    height: 100%;
}
.title{
    color: white;
}
.open_menu{
    background-color: #0B182D;
}
.close_menu{
    background-color: #0B182D;
}
/*---------------------Aqu칤 empieza la home--------------------------------------------------------- */

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    background-color: #0B182D;
    padding: 5%;
    width: 100%;
}
.index_main{
    width: 100%;
}
.descriptionweb h1{
    font-size: 3em;
    color: #DEDEDE;
    font-size: 4vw;
    font-family: Open Sans;
    font-weight: 600; 
    text-align: center;
}
.descriptionweb p{
    color: #FFC709;
    font-size: 2vw;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    text-align: center;
}
.descriptionweb{
    background-image: url(/Images/fondo\ home.png);
    text-align: center;
    width: 100%;
    align-items: center;
}
.home_function{
    position: absolute;
    top: 70%;
    left: 10%;
}
.home_stadistic{
    position: absolute;
    top: 85%;
    right: 11%;
}
.porcentage{
    color: #FFC709;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index_porcentage{
    background-image: url(/Images/fondo\ home.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-bottom: 50px;
}
.index_porcentage h4{
    font-size: 4em;
}
.index_porcentage p{
    font-size: 0.9em;
}
.index_services{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.index_services article{
    width: 100%;
}
.logo img{
    width: 50%;
    height: 50%;
}
.exito_history{
    color: #DEDEDE;
    margin-top: 10%;
    padding: 40px;
}
.image_arrow{
   text-align: center; 
}
.dise침o_exito{
    text-align: right;
    padding: 40px;
}
.image_exito{
    padding: 40px;
    margin-top: 5%;
}
.sipSavor h3{
    color: #FFC709;
}
.sipSavor{
    padding: 40px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Aqu칤 empieza el FAQ*/
.final .container_final{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.final{
    color: white;
    background-color: #0B182D;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.container_final .questions{
    list-style: none;
    text-align: right;
}
.container_final .questions a{
    text-decoration: none;
    color: white;
}
.container_final .questions a:hover{
    color: #FFC709;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}
.FAQ h3{
    font-size: 3em;
    font-family: 'Share Tech', sans-serif;
}
.container_final{
    margin: 0;
    padding: 25px;
}
.boton_questions{
    font-family: 'Share Tech', sans-serif;
    background-color: #0B182D;
    border-radius: 10px;
    padding: 10px;
}
.boton_questions a{
    text-decoration: none;
    color: #DEDEDE;
}
/**---------------------------------------------------------------*/
/*footer*/
footer{
    color: white;
    background-color: #0B182D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
    gap: 25px;
    border-top: 1px solid #DEDEDE;
    padding-top: 10px;
}

/*------------------------------------EMPIEZA P츼GINA DE CONTACTO---------------------------------------------------*/

.contact-body-background {
    background-color: #0B182D; /*color del fondo de la p치gina de contactos*/
}

.section { 
    display: grid; /*estructura en grid de la secci칩n*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
    margin-left: 150px;
    margin-top: 5%;
}

.form { /* estructura formulario de contacto*/
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-info { /*estructura info contacto*/
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 0;
}

.contact_h1{
    font-family: 'Share Tech';
    font-size: 50px;
    font-weight: 100;
    line-height: 100px;
    color: #d9d9d9;
}

.contact-text {
    font-family: 'Share Tech';
    color: #DEDEDE;
    font-size: 16px;
    font-weight: 100;
}

.contact-form {
    color: #DEDEDE;
    margin-top: 50px;
    font-size: 14px;
}

.name-form {
    font-family: 'Open Sans';
    width: 50%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    font-size: 15px;
    outline: none;
    transition: border-color .2s;
    margin-bottom: 5px;
}

.surname-form {
    width: 47%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    font-size: 15px;
    outline: none;
    transition: border-color .2s;
    margin-bottom: 10px;
    margin-left: 5px;
}

.email-form {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    font-size: 15px;
    outline: none;
    transition: border-color .2s;
    margin-bottom: 5px;
}

.phone-form {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    font-size: 15px;
    outline: none;
    transition: border-color .2s;
    margin-bottom: 5px;
}

.message-form{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    font-family: 'Open Sans';
    font-size: 15px;
    outline: none;
    transition: border-color .2s;
    margin-bottom: 5px;
}

.enviar { /*bot칩n de enviar formulario */
    background-color: #1736f5;
    font-family: 'Open Sans';
    font-size: 20px;
    color: #DEDEDE;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 9px;
    margin-top: 20px;
    border-style: none;
}

.contact-title {
    font-size: 20px;
    color: #808080;
    line-height: normal;
    margin-top: 15px;
    display: inline-block
}

.contact-text {
    margin-top: 5px;
    font-size: 16px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*A partir de aqu칤 empieza la p치gina de Nosotros */
.Nosotros{
    background-color: #0B182D;
    height: 30vh;
}
.descriptionTeam {
    color: #DEDEDE;
}
.textTeam{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text_rectangle h4{
    color: #DEDEDE;
    font-size: 4em;
    font-family: 'Share Tech', sans-serif;
    margin: 0;
}
.text_rectangle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}
.text_rectangle img {
    max-width: 100%;
        height: auto;
        margin: 10px;
}
.images_team{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.coder {
    color: #DEDEDE;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.coder h6{
    font-family: 'Share Tech', sans-serif;
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5em;
}
.coder h5{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    text-align: left
}
.coder p{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    text-align: left;
    font-size: 1em;
}
.team_person{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2%;
    gap: 3%;
}
.Our_team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

/*----------------------------------------------------------------------------*/
/* SERVICES WEBSITE */

/* FIRST SECTION DESIGN-SOLUTIONS */

.design-solutions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10vh;
}

/*MOUSE FOR SCROLL*/
.icon-scroll-services {
    width: 30px;
    height: 73px;
    margin-left: 1500px;
    position: fixed;
}

/*IMG CENTRAL*/
.img-central {
    width: 40%;
    height: 40%;
    margin-left: 25vw;
    margin-top: 8vw;
}

/*ALL H1 AND H6 OF WEBSITE*/
.services-h1 {
    font-family: share tech;
    font-size: 50px;
    font-weight: 500;
    color:#DEDEDE;
    width: 100%; /*ASEGURA LA VISIBILIDAD DE TODO EL TITULO*/
    margin-left: 150px;
}

.services-h6 {
    color: #1736F5;
    font-family: share tech;
    font-weight: 800;
    margin-left: 150px;
}


/* SECOND PART PRINCIPIOS*/

.principios {
    padding: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 250px;
}

/*TITLE*/
.left-principios {
    padding-right: 15vh;
    width: 100%; /*ASEGURA LA VISIBILIDAD DE TODO EL TITULO*/
}

/*LIST OF PRINCIPIOS*/
.principios-list {
    font-size: 22px;
    color: #DEDEDE;
    padding: 10vh;
    margin-left: 100px;
    margin-right: 100px;
}


/* THIRD PART WEBSITE */


/* USER EXPERIENCE */

.left-ux {
    margin-top: -850px;
    width: 100%; /*ASEGURA LA VISIBILIDAD COMPLETA DEL TITULO*/
}

.ux-experience {
    padding: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 250px;
}

.ux-experience-img {
    width: 40%;
    height: 40%;
    margin-left: -300px;
}

.ux-list {
    color: #DEDEDE;
    list-style: none;
    margin-left: 150px;
    margin-right: 200px;
}


/*FOURTH PART OF WEBPAGE*/

/* SOLUTIONS */

.solutions .solutions-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10%;
}

.solutions h6 {
    text-align: left;
    margin-left: 8%;
}

.services-solutions-h6 {
    color: #1736F5;
    font-family: share tech;
}

.solutions-description {
    color: #DEDEDE;
    margin-right: 150px;
    margin-left: 250px;
}

.solutions-list {
    list-style: none;
    color: #DEDEDE;
    display: flex;
    flex-direction: column;
    margin-bottom: 18%;
}

/* RECUADRO DESPLEGABLE CON ETIQUETA DETAILS Y SUMMARY */
details summary {
    list-style: none; /* ocultamos la flecha */
    cursor: pointer; /* cambia el cursor del puntero */
}

details p {
    background-color: #0B182D; /* Nuevo color de fondo (azul m치s oscuro) */
    color: #d9d9d9; /* Nuevo color de texto */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Nuevo box shadow con un tono m치s oscuro y efecto 3D */
    border-radius: 5px; /* Borde de la caja del contenido oculto */
}

details {
    position: relative;
}

.item-title:hover {
    color:#FFC709;
    cursor: pointer;
}

/* Estilo para el emoji en el summary */
details summary::before {
    position: absolute;
    content: "游댷";
    font-size: 1.5rem;
    top: 8px;
    right: 10%;
}

/* Animaci칩n de rotaci칩n para el emoji cuando el details est치 abierto */
details[open] summary::before {
    animation: rotate-emoji 0.6s ease-in-out both;
}

/* Keyframes para la animaci칩n de rotaci칩n */
@keyframes rotate-emoji {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotate-emoji {
    /* 0% {
        transform: rotate(0);
    } */

    100% {
        transform: rotate(180deg);
    }
}


.item-title {
    font-family: share tech;
    font-size: 40px;
    padding: 30px;
    margin-left: 10vh;
    line-height: 80px;
}

.item-detail {
    padding: 1rem;
    margin-left: 12vw;
    margin-right: 42vw;
    margin-bottom: 60px;
}


/* FIFTH SUCCESS STORIES */

/*PICTURE OF CLOTHIGN SHOP */

.happyvintage-img {
    text-align: end;
    margin-right: 50px;
    margin-top: 100px;
}

.icon-arrow {
    margin-left: 520px;
    margin-top: 30px;
}

.container-happyvintage {
    display: flex;
    flex-direction: row; 
    justify-content: end;
    margin-right: 80px;
    margin-top: 20px;
}

.services-h3 {
    font-family: share tech;
    color: #FFC709;
    padding: 5%;
    font-weight: 350;
    font-size: 28px;
    border-bottom: 1px solid #1736F5; /* ajusta el color y grosor de la l칤nea */
    padding-bottom: 10px; /* ajusta el espaciado inferior */
}

/* .line-story {
    list-style:georgian;
    width: 1px; /* ajusta la anchura de la l칤nea */
    /* background-color: #1736F5; /* ajusta el color de la l칤nea */
    /* margin: 0 2vw 0.5vw; /* ajusta el margen lateral seg칰n sea necesario
}  */

.story-description {
    color: #DEDEDE;
    margin-left: 50px;
}
.container_story{
     width: 100%;
     margin-right: 0;
     margin-left: 0;
}
.services-project-button {
    color: #0B182D;
    background-color: #FFC709;
    border-radius: 20px;
    padding: 0.5%;
}
/*------------------------------------------------------------------------------*/
/*Inicio p치gina blog*/
.blog_home {
    background-color: #0B182D;
}
.blog{
    color: #DEDEDE;
    background-color: #0B182D;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.inicio-blog{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 5%;
}
.blog h1 {
    margin-left: 5%;
    font-family: 'Share Tech', sans-serif;
}
.blog img{
    border-radius: 200px 0px 200px 200px;
    width: 239px;
    height: 218px;
    flex-shrink: 0;
}
.bloque-noticias {
    display: flex;
    width: 100%; /* Ancho deseado para el contenedor */
    margin: 5%;
    align-items: flex-start; /* Alinea los elementos al principio verticalmente */
}
.noticia {
    flex: 1; /* Opci칩n para dividir el espacio igualmente entre los bloques */
    /* Otros estilos para los bloques */
    vertical-align: top; /* Alinea la imagen al inicio verticalmente */
}
.noticia h3 {
 font-family: 'Share Tech', sans-serif;
}

.imagennoticia {
    display: flex;
    vertical-align: top;
}
.textonoticia{
    width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
}
.textonoticia h3:hover {
    color: #FFC709;
}
.imgagennoticia a{
    text-decoration: none;
    color: inherit; /* Hereda el color del texto circundante */
}
/*preguntas footer*/
.accordion-accordion-flush{
    color: #DEDEDE; 
    margin-top: 3%;
}
.accordion-header:active {
    color: #FFC709;
}
.accordion-collapse {
    font-size: small;
}
.accordion-accordion-flush {
  width: 40%; /* Ancho de 300 p칤xeles */
  height: 30%; /* Alto de 200 p칤xeles */
  display: block;
}
.accordion-item {
    margin-top: 3%;
}
  

/*fin preguntas footer*/
/*mediaqueries blog*/
@media screen and (max-width: 768px) {
    .bloque-noticias {
        flex-direction: column; /* Cambia la direcci칩n de los elementos a columna */
    }
    .noticia {
        margin-top: 10%;
        font-size: small;
}
.blog img{
    border-radius: 200px 0px 200px 200px;
    width: 139px;
    height: 118px;
    flex-shrink: 0;
}
.inicio-blog {
    font-size: small;
}
.final .container_final {
    display: block; /* Cambia a bloque para mostrar elementos uno debajo del otro */
  }
  .accordion-accordion-flush {
    /* Propiedades del borde */
  width: 100%; /* Ancho de 300 p칤xeles */
  display: block;
}
.accordion-item {
    margin-top: 5%;
}
}
/*FIN P츼GINA DE BLOG*/
/*------------------------------------------------------------------------------*/
/**----------Responsivo---------*/
 @media (max-width: 768px) {
    .Our_team {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }
    .team_person{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .team_person .coder{
        text-align: center;
    }
    .text_rectangle img{
        max-width: 50%;
        max-height: 50%;
    }
    .text_rectangle h4{
        text-align: center;
    }
}

/*--------VERSION M칍VIL-----------*/
@media only screen and (max-width: 708px){

    .home{
        display: flex;
        flex-direction: column-reverse;
    }
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image_home{
        width: 100%;
    }
    .descriptionweb h1{
        font-size: 2em;
    }
    .descriptionweb p{
        font-size: 1em;
    }
    .boton_contact{
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    .container_final{
        display: flex;
        flex-direction: column;
    }
    .questions{
        margin-top: 10%;
    }
    .textTeam{
        font-size: 1em;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }
    .img_group{
        width: 90%;
        height: auto;
    }
    .images_team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right:10%;
        margin-left: 10%;
    }
    .triangleBlue{
        width: 10%;
        height: 10%;
    }
    .FAQ{
        margin-bottom: 10%;
    }
    .open_menu, .close_menu{
        display: block;
        border: 0;
        font-size: 1.2rem;
        color: #DEDEDE;
    }
    .open_menu{
        margin-left: 30%;
    }
    .menu{
        opacity: 0;
        visibility: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #0B182D;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .menu.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav_list{
        flex-direction: column;
        align-items: end; 
    }
    .team{
        margin-top: 10%;
    }
    /*---------------------index------------*/
    .home_macbook{
        width: 60%;
    }
    .home_function, .home_stadistic{
        width: 34%;
        position: absolute;
        top: 40%;
    }
    .home{
        width: 100%;
        margin: 0;
    }



}